<div class="container-fluid">
  <div class="row">
    <div class="col-1 offset-10 mt-4">
      <a (click)="exit()">
        <svg width="100%" viewBox="0 0 16 16" class="bi bi-power" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M5.578 4.437a5 5 0 1 0 4.922.044l.5-.866a6 6 0 1 1-5.908-.053l.486.875z"/>
          <path fill-rule="evenodd" d="M7.5 8V1h1v7h-1z"/>
        </svg>
      </a>
    </div>
  </div>
  <div class="row justify-content-center" *ngIf="status$ | async as status">
    <div class="col-3">
      <div class="row align-items-center">
        <div class="col-8">
          <div class="mx-auto text-center">Temperature</div>
          <mwl-gauge [value]="status.temp" [max]="50" [animated]="true" [animationDuration]="1.5"></mwl-gauge>
          <div class="mx-auto text-center">
            Setpoint: {{ setPoint$ | async | number }}°C
          </div>
        </div>
        <div class="col-4">
          <div>
            <a (click)="increaseTemp(1)">
              <svg width="100%" viewBox="0 0 16 16" class="bi bi-chevron-up" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z" />
              </svg>
            </a>
          </div>
          <div>
            <a (click)="decreaseTemp(1)">
              <svg width="100%" viewBox="0 0 16 16" class="bi bi-chevron-down" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div class="mx-auto text-center">Humidity</div>
      <mwl-gauge [value]="status.humidity" [max]="100" [animated]="true" [animationDuration]="1.5"></mwl-gauge>
    </div>
  </div>
</div>