<div class="container-fluid">
    <div class="row">
      <div class="col-1 offset-8 mt-4 mr-2">
        <a (click)="climate()">
          <fa-icon [icon]="faHome" size="3x"></fa-icon>
        </a>
      </div>
      <div class="col-1 mt-4 mr-2">
        <a (click)="schedule()">
          <fa-icon [icon]="faCogs" size="3x"></fa-icon>
        </a>
      </div>
      <div class="col-1 mt-4">
        <a (click)="exit()">
          <fa-icon [icon]="faPowerOff" size="3x"></fa-icon>
        </a>
      </div>
    </div>
    <router-outlet></router-outlet>
</div>
