<div class="container-fluid">
    <div class="row">
      <div class="col text-right mt-4 mr-4">
        <div ngbDropdown placement="bottom-right" class="d-inline-block">
          <button class="btn btn-outline-primary" ngbDropdownToggle>
            <fa-icon [icon]="faBars" size="3x"></fa-icon>
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
            <button (click)="climate()" ngbDropdownItem>
              <fa-icon [icon]="faHome" size="lg" [fixedWidth]="true"></fa-icon> Dashboard
            </button>
            <button (click)="schedule()" ngbDropdownItem>
              <fa-icon [icon]="faCogs" size="lg" [fixedWidth]="true"></fa-icon> Schedule
            </button>
            <button (click)="exit()" ngbDropdownItem>
              <fa-icon [icon]="faPowerOff" size="lg" [fixedWidth]="true"></fa-icon> Exit
            </button>
          </div>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
</div>
