<mwl-calendar-week-view class="cal-day-view" [daysInWeek]="7" [viewDate]="viewDate" [events]="events"
  [hourSegments]="hourSegments" [hourSegmentHeight]="hourSegmentHeight" [dayStartHour]="dayStartHour"
  [dayStartMinute]="dayStartMinute" [dayEndHour]="dayEndHour" [dayEndMinute]="dayEndMinute" [refresh]="refresh"
  [locale]="locale" [eventSnapSize]="eventSnapSize" [tooltipPlacement]="tooltipPlacement"
  [tooltipTemplate]="tooltipTemplate" [tooltipAppendToBody]="tooltipAppendToBody" [tooltipDelay]="tooltipDelay"
  [hourSegmentTemplate]="hourSegmentTemplate" [eventTemplate]="eventTemplate" [eventTitleTemplate]="eventTitleTemplate"
  [eventActionsTemplate]="eventActionsTemplate" [snapDraggedEvents]="snapDraggedEvents"
  [allDayEventsLabelTemplate]="allDayEventsLabelTemplate" [currentTimeMarkerTemplate]="currentTimeMarkerTemplate"
  (eventClicked)="eventClicked.emit($event)" (hourSegmentClicked)="hourSegmentClicked.emit($event)"
  (eventTimesChanged)="eventTimesChanged.emit($event)" (beforeViewRender)="beforeViewRender.emit($event)">
</mwl-calendar-week-view>