<div class="row justify-content-center mt-3">
    <div class="col-5">
        <div class="row align-items-center">
            <div class="col-8">
                <div class="mx-auto text-center">Temperature</div>
                <mwl-gauge [value]="status.temp" [max]="50" [animated]="true" [animationDuration]="1.5"></mwl-gauge>
                <div class="mx-auto text-center">
                    Setpoint: {{ setPoint.temperature | number }}°C
                    <fa-icon [icon]="faFire" size="2x" *ngIf="status.heating"></fa-icon>
                </div>
            </div>
            <div class="col-4">
                <div>
                    <a (click)="increaseTemp.emit(1)">
                        <svg width="100%" viewBox="0 0 16 16" class="bi bi-chevron-up" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z" />
                        </svg>
                    </a>
                </div>
                <div>
                    <a (click)="decreaseTemp.emit(1)">
                        <svg width="100%" viewBox="0 0 16 16" class="bi bi-chevron-down" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-5">
        <div class="row align-items-center">
            <div class="col-8">
                <div class="mx-auto text-center">Humidity</div>
                <mwl-gauge [value]="status.humidity" [max]="100" [animated]="true" [animationDuration]="1.5"></mwl-gauge>
                <div class="mx-auto text-center">
                    Setpoint: {{ setPoint.humidity | number }}°C
                    <fa-icon [icon]="faShower" size="2x" *ngIf="status.misting"></fa-icon>
                </div>
            </div>
            <div class="col-4">
                <div>
                    <a (click)="increaseHumidity.emit(1)">
                        <svg width="100%" viewBox="0 0 16 16" class="bi bi-chevron-up" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z" />
                        </svg>
                    </a>
                </div>
                <div>
                    <a (click)="decreaseHumidity.emit(1)">
                        <svg width="100%" viewBox="0 0 16 16" class="bi bi-chevron-down" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>